@font-face {
	font-family:'DejaVu Sans';
	src:url('../fonts/DejaVuSans.ttf');}

@font-face {
    font-family: 'Arian';
    src: url('../fonts/Arian.eot');
    src: url('../fonts/Arian.eot') format('embedded-opentype'),
         url('../fonts/Arian.woff2') format('woff2'),
         url('../fonts/Arian.woff') format('woff'),
         url('../fonts/Arian.ttf') format('truetype'),
         url('../fonts/Arian.svg#Arian') format('svg');
}
@font-face {
    font-family: 'Clinica_Pro_Regular';
    src: url('../fonts/Clinica_Pro_Regular.eot');
    src: url('../fonts/Clinica_Pro_Regular.eot') format('embedded-opentype'),
         url('../fonts/Clinica_Pro_Regular.woff2') format('woff2'),
         url('../fonts/Clinica_Pro_Regular.woff') format('woff'),
         url('../fonts/Clinica_Pro_Regular.ttf') format('truetype'),
         url('../fonts/Clinica_Pro_Regular.svg#Clinica_Pro_Regular') format('svg');
}
@font-face {
    font-family: 'Arian_Grqi_i_U';
    src: url('../fonts/Arian_Grqi_i_U.eot');
    src: url('../fonts/Arian_Grqi_i_U.eot') format('embedded-opentype'),
         url('../fonts/Arian_Grqi_i_U.woff2') format('woff2'),
         url('../fonts/Arian_Grqi_i_U.woff') format('woff'),
         url('../fonts/Arian_Grqi_i_U.ttf') format('truetype'),
         url('../fonts/Arian_Grqi_i_U.svg#Arian_Grqi_i_U') format('svg');
}

@font-face {
    font-family: 'BebasNeue_Regular';
    src: url('../fonts/BebasNeue_Regular.eot');
    src: url('../fonts/BebasNeue_Regular.eot') format('embedded-opentype'),
         url('../fonts/BebasNeue_Regular.woff2') format('woff2'),
         url('../fonts/BebasNeue_Regular.woff') format('woff'),
         url('../fonts/BebasNeue_Regular.ttf') format('truetype'),
         url('../fonts/BebasNeue_Regular.svg#BebasNeue_Regular') format('svg');
}
@font-face {
    font-family: 'BebasNeueBold';
    src: url('../fonts/BebasNeueBold.eot');
    src: url('../fonts/BebasNeueBold.eot') format('embedded-opentype'),
         url('../fonts/BebasNeueBold.woff2') format('woff2'),
         url('../fonts/BebasNeueBold.woff') format('woff'),
         url('../fonts/BebasNeueBold.ttf') format('truetype'),
         url('../fonts/BebasNeueBold.svg#BebasNeueBold') format('svg');
}

.content{
	position: relative;
}

.main-nav{position:fixed;top:50%;right:50px;text-align:right;z-index:2;margin-top:-80px;font-size:14px; z-index: 999;h}
.main-nav.dark a{color:#222}
.main-nav.dark li.current:before,.main-nav.dark li:hover:before{background:#222}
.main-nav.dark li.current:after,.main-nav.dark li:hover:after{border-color:#222}
.main-nav li{font-family:'PTSerifItalic';margin-bottom:5px;position:relative}
.main-nav li.current span,.main-nav li:hover span{visibility:visible}
.main-nav li span{visibility:hidden}
.main-nav li:before,.main-nav li:after{content:'';position:absolute;right:0;top:50%;-webkit-border-radius:50%;border-radius:50%}
.main-nav li:before{width:7px;height:7px;margin-top:-3px;background:#908e8f}
.main-nav li.current:before,.main-nav li:hover:before{background:#fff}
.main-nav li:after{width:15px;height:15px;border:1px solid transparent;margin:-8px -5px 0 0}
.main-nav li.current:after,.main-nav li:hover:after{border-color:#fff}
.main-nav a{color:#fff;position:relative;padding-right:25px;text-decoration:none;
	  -webkit-transition: .5s all ease-out;
    	-moz-transition: .5s all ease-out;
  	  transition: .5s all ease-out;
	}
#section1{
	position: absolute;
	top: 0;
	min-width: 1300px;
	width: 100%;
	height: 825px;
}
.inner{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.img, .img-2{
	width: 100%;
	min-width: 1200px;
	height: 625px;
}
.img-2{
	display: none;
}
.img{
	background: url(../images/header-img.jpg);
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: relative;
}

.img-2{
	background: url(../images/header-img-2.jpg);
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: relative;
}

.logo-text{
	position: absolute;
	right: 0;
	bottom: 70px;

}
.logo-text img{
	position: relative;
	top: 90px;
	right: 0;
	z-index: 2;
}
.wrapper-sec{
	position: relative;
	width: 1200px;
	margin: 0 auto;
	height: 100%;
}
.logo-text p{
	font-family: 'Clinica_Pro_Regular';
	font-style: italic;
	font-size: 26px;
	color: #fff;
	text-shadow: 0px 0px 17px #000 !important;}
	.logo-text p span{
		position: relative;
		left: 30px;
	}
.small-img{
	float: left;
	width: 189px;
	display: inline-block;
	margin-right: 20px;
	background: url(../images/domik.png) no-repeat;
	-webkit-transition: 0.4s all ease-in-out;
	-o-transition: 0.4s all ease-in-out;
	transition: 0.4s all ease-in-out;
	-webkit-filter: grayscale(100%);
	 -moz-filter: grayscale(100%);
	 -ms-filter: grayscale(100%);
	 -o-filter: grayscale(100%);
	 filter: grayscale(100%);
	 filter: gray; /* IE 6-9 */;
	 transform: scale(0.98);
    -webkit-transform: scale(0.98);
    -o-transform: scale(0.98);
    -moz-transform: scale(0.98);

}
	.small-img.active{
		cursor: default;
		-webkit-filter: grayscale(0%);
		 -moz-filter: grayscale(0%);
		-ms-filter: grayscale(0%);
		-o-filter: grayscale(0%);
		filter: grayscale(0%);
		filter: 0; /* IE 6-9 */;
		transform: scale(1);
	    -webkit-transform: scale(1);
	    -o-transform: scale(1);
	    -moz-transform: scale(1);
	}
	
#click-1{
	background: url(../images/domik-2.png) no-repeat;
	margin-top: 4px;
}
.header-info .wrapper-section{
	width: 1200px;
	margin:  0 auto;
}
.small-img p{
	text-align: center;
	text-decoration: none;
	color: #000;
	position: absolute;
	top: -13px;
	right: 62px;
	font-size: 11px;
	font-style: italic;
}
.small-img p:nth-child(2){
	top: 147px;
	right: 70px;
}
.p-abs p:first-child{
	right: 40px;
	top: -20px;
}
.p-abs p:nth-child(2){
	right: 42px;
	top: 137px;
}
.small-img{
	text-decoration: none;
	position: relative;
	height: 183px;
}
.small-img img{
	margin-top: 13px;
	width: 182px;
	height: 125px;
}
.header-info{
	padding-top: 10px;
	min-width: 1200px;
	width: 100%;
	position: relative;
}

.header-text{
	float: left;
	width: 360px;
	text-align: center;
	font-size: 26px;
	font-family: 'Clinica_Pro_Regular';
	line-height: 1.3;
	margin-top: 10px;
}
.header-text p:nth-child(2){
	color: #dd3b12;
	font-size: 35px;
}
.header-text p:nth-child(3){
	font-size: 16px;
}
.header-text p:nth-child(4){
	font-size: 13px;
}
.header-checkbox{
	float: right;
	width: 240px;
	font-size: 18px;
	padding-left: 10px;
	line-height: 1.7;
	z-index: 10;
	position: relative;
	font-family: 'Clinica_Pro_Regular';
	margin-top: 7px;
	border: 1px solid #000;
	position: relative;
	padding-top: 3px;
	padding-bottom: 10px;
}
.header-checkbox img{
	position: absolute;
	right: -5px;
	top: 2px;
}

.section2{
	background: url('../images/about.png') no-repeat scroll 50% 100% #332824;
	padding: 90px 0;
	min-height: 755px;
	width: 100%;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	min-width: 1300px;
	position: absolute;
	top: 825px;
	width: 100%;
}
.section2 h2{
	font-family: 'BebasNeueBold';
	font-size: 36px;
	letter-spacing: 5px;

}
.wrapper-section {
width: 980px;
padding: 0 20px;
margin: 0 auto;
position: relative;
}
.video-desc{
	float: left;
	margin-right: 25px;
	position: relative;
	z-index: 2;
}


.wrapper-section:before, .wrapper-section:after {
display: table;
content: "";
line-height: 0;}

.section2 .inner {
margin-left: -2px;}

.section2 .description{
	line-height: 1.65;
	font-size: 16px;
	color: #fff;
}
	.section2 .description p{
	margin-bottom: 20px;
	font-family: 'Clinica_Pro_Regular';
}	
	.section2 .description h2{
	font-size: 36px;
	margin-bottom: 20px;
	text-align: center;
}

.section3{/*background:#fdf8ef;*/padding:90px 0 60px;
	-ms-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
		min-width: 1300px;
		position: absolute;
		top: 1583px;
		width: 100%;}

.section3 h3{margin-bottom:83px; text-align: center;font-size: 38px; color: #343233; text-transform: uppercase;font-family: 'BebasNeueBold'; letter-spacing: 5px;}
.section3 h3:after {
content: '';
position: absolute;
left: 50%;
border-bottom: 1px solid #e6e1da;
width: 62px;
margin-left: -32px;
top: 1.7em;}
.section3 .list li{margin-bottom:50px}
.section3 .list .img-wrap{float:left;width:11%;margin-right:3%}
.section3 .list .description{float:right;width:86%}
.section3 .list .description h4{font-size:34px;margin-bottom:10px; font-family: 'Clinica_Pro_Regular';}
.section3 .list .description p{color:#999591;font-size:14px;line-height:1.4;margin-bottom:0; font-family: 'Clinica_Pro_Regular';}

.clearfix:after {
clear: both;
}
.clearfix:before, .clearfix:after {
display: table;
content: "";
line-height: 0;
}
.section4{
	min-width: 1300px;
	position: absolute;
	top:2333px;
	width: 100%;
}

.wrapper-section-gallery{
	width: 100%;
	position: relative;
}
.gallery-overlay{
	position: absolute;
	background: rgba(0,0,0,0.7);
	padding-top: 140px;
	padding-bottom: 100px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	-webkit-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
.gallery-overlay h3 {
margin-bottom: 83px;
text-align: center;
font-size: 38px;
color: #fff;
text-transform: uppercase;
font-family: 'BebasNeueBold';
letter-spacing: 5px;}

.gallery-overlay h3:after {
content: '';
position: absolute;
left: 50%;
border-bottom: 1px solid #676767;
width: 62px;
margin-left: -32px;
top: 5.3em;
}
.gallery-overlay p{
	color: #fff;
	font-size: 18px;
	font-family: 'Clinica_Pro_Regular';
	line-height: 1.3;
}
.gallery-overlay .btn{
position: relative;
color: #fff;
font-family: 'Clinica_Pro_Regular';
font-size: 12px;
text-align: center;
line-height: 45px;
padding: 0 30px;
border: 0;
text-transform: uppercase;
-ms-box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all .2s ease-out;
-moz-transition: all .2s ease-out;
-o-transition: all .2s ease-out;
transition: all .2s ease-out;
cursor: pointer;
margin-top: 110px;
}
.btn.empty {
background: transparent;
border: 2px solid #fff;}

.btn.empty:hover{
	background: #fff;
	color: #000;
}


.left-gallery, .center-gallery{
	width: 33.3%;
	float: left;
}
.right-gallery{
	width: 33.4%;
	float: left;
}
.small-view{
	background: url(../images/dom-1.small.jpg);
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
}
.small-view-2{
	background: url(../images/dom-1.small.jpg);
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
}
.small-view-3{
	background: url(../images/dom-2.small.jpg);
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
}

.center-gallery .small-view{
	height: 306px;
}
.left-gallery div:first-child.fancy-container a img{
	height: 406px;
}
.left-gallery div:first-child.fancy-container{
	height: 410px;
}
.left-gallery div:first-child.fancy-container a img{
	height: 406px;
}
.fancy-left a img{
	height: 206px;
} 
.fancy-left{
	height: 210px;
}
.right-gallery .small-view-3{
	height: 408px;
	clear: both;
}
.center-gallery .fancy-container{
	height: 310px;
}
.small-view{
	width: 100%;
	height: auto;
	display: block;
}
.fancy-left{
	width: 50%;
	float: left;
}
.section5{
	min-width: 1300px;
	background: url('../images/ae414d60e78c7204961a463a35dfa423.jpg') 50% 50% repeat-x #2D2320;
	background-size: cover;
	min-height: 200px;
	padding: 50px 0 50px;
	color: #fff;
	position: absolute;
	top: 2953px;
	width: 100%;
}
.section5 .wrapper-section{
	width: 1200px;
}
.section5 label{
	font-size: 18px;
	font-style: normal;
}
	.section5 p{
		float: left;
		width: 200px;
		font-size: 26px;
		width: 65%;
		color: #fff;
		font-family: 'Clinica_Pro_Regular';
		margin-top: 25px;
		line-height: 1.2;
	}
.section5 .header-checkbox{
	padding-top: 0;
	border: 1px solid #fff;
	width: 300px;
	background-position: 1px 0px;
	margin-top: 0;
	padding-top: 7px;
	padding-left: 20px;
	font-family: 'Clinica_Pro_Regular';
}
.step{
	position: absolute;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	z-index: 100;
	right: -27px;
	top: -23px;
	width: 60px;
	height: 60px;
	text-align: center;
	font-size: 50px;
	background-color: #fff;
	color: #000;
	line-height: 1.2;
}
.radio label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    font-size: 13px;
    font-family: 'Clinica_Pro_Regular';
}
input[type="radio"] {
    display: none;
}
.radio label{
	font-size: 17px;
}
.radio label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/checkbox.png) no-repeat;
    background-position: 0 -26px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 4px;
}
.radio-2 label:before{
	 content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../images/checkbox-2.png) no-repeat;
    background-position: 0 -26px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    top: 4px;
}
.radio-2 label{
	font-family: 'Clinica_Pro_Regular';
}
input[type="radio"]:checked + label:before {
    background: url(../images/checkbox.png) no-repeat;
    background-position: 0 5px;
}
.radio-2 input[type="radio"]:checked + label:before{
	background: url(../images/checkbox-2.png) no-repeat;
    background-position: 0 5px;
}
/*.checkbox, .radio {
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url(checkbox.png) no-repeat;
	display: block;
	clear: left;
	float: left;
}
.radio {
	background: url(../images/checkbox.png) no-repeat;
}
.select {
	position: absolute;
	width: 158px;
	height: 21px;
	padding: 0 24px 0 8px;
	color: #fff;
	font: 12px/21px arial,sans-serif;
	background: url(select.png) no-repeat;
	overflow: hidden;
}
*/

.section6{
	padding: 90px 0 120px;
	position: absolute;
	top: 3194px;
	min-width: 1300px;
	width: 100%;
}
.section6 img{
	width: 100%;
}
.left{float:left}
.right{float:right}
.section6 .block-header{margin-bottom:88px; font-size: 36px; text-align: center;font-family: 'BebasNeueBold';letter-spacing: 5px;}
.section6 .img-wrap{display:block;position:relative}
.section6 .img-wrap:after{content:'';position:absolute;top:70px;border:8px solid;display:block;width:0;height:0;margin-top:-4px}
.section6 .left .img-wrap:after{border-color:transparent #fcf7ef transparent transparent;right:0}
.section6 .right .img-wrap:after{border-color:transparent transparent transparent #fcf7ef;left:0}
.section6 .list .left,.section6 .list .right{width:50%;position:relative;min-height:325px}
.section6 .list .left .description{padding-right:30px}
.section6 .list .right .description{padding-left:30px}
.section6 .list .description{padding-top:50px;padding-bottom:85px}
.section6 .list .description h4{font-size:24px;margin-bottom:15px;font-family: 'Clinica_Pro_Regular';}
.section6 .list .description h4 a{color:#333; text-decoration: none;}
.section6 .list .description h4 a:hover{text-decoration:none;color:#de6849}
.section6 .list .description p{line-height:1.4;font-size:14px;color:#999591; font-family: 'Clinica_Pro_Regular';}
.section6 .list .description .link{
			font-size:13px;
			text-transform:uppercase;position:absolute;color:#b8aea7;display:inline-block;
			vertical-align:middle;border-bottom:1px solid transparent;padding-bottom:1px;
			margin-left:46px;bottom:60px;text-decoration: none;
			font-family: 'Clinica_Pro_Regular';
		}
	
.section6 .list .description .link:before{content:'';position:absolute;left:-46px;top:50%;margin-top:-11px;background: url(../images/sprite.png) no-repeat;
			background-position: -111px -92px;
			display: block;width: 32px;height: 25px; }
.section6 .list .description .link:hover{color:#de6849;text-decoration:none;border-bottom-color:#de6849}
.section6 .list .description .link:hover:before{
	background-position: -172px -92px;
}
.block-header.line:after {
content: '';
position: absolute;
left: 50%;
border-bottom: 1px solid #e6e1da;
width: 62px;
margin-left: -32px;
top: 1.7em;
}
.video-block{
	width: 23%;
	float: left;
	margin:1%;
}


.fancy-container{
	border: 2px solid #725246;
}
.section7 .wrapper-section{
	width: 1200px;
} 
.section7{
	background: #0c343e;
	padding-top: 90px;
	padding-bottom: 90px;
	min-width: 1300px;
	position: absolute;
	top: 4839px;
	width: 100%;
}
.video-block img{
	width: 100%;
	height: auto;
}
.section7 h3{
	margin-bottom: 88px;
	font-size: 36px;
	text-align: center;
	color: #fff;
	font-family: 'BebasNeueBold';
	letter-spacing: 5px;
}
.adress-text{
	float: left;
	width: 600px;
	line-height: 1.2;
	margin-bottom: 20px;
	font-family: 'Clinica_Pro_Regular';
}
.feedback-container{
	float: right;
	width: 420px;
	background: url(../images/shag3.jpg) no-repeat;
	background-position: 96% 30px;
	height: 170px;
	padding-top: 37px;
	padding-left: 20px
}
.adress-text p:first-child{
	font-size: 26px;
}
.adress-text p:nth-child(2){
	font-size: 20px;
	color: #dd3b12;
}
.adress-text p:nth-child(3){
	font-size: 22px;
	color: #dd3b12;
}
.adress-text p:nth-child(4){
	font-size: 14px;
}
.adress-text p:nth-child(4) span{
	color: #dd3b12;
}
.adress-text p:last-child{
	font-size: 26px;
	margin-top: 20px;
}
.adress-text p:last-child span{
	font-size: 22px;
	color: #dd3b12;
}
.feedback-container a{
	font-family: 'Clinica_Pro_Regular';
	float: right;
	margin-right: 115px;
	padding: 12px 11px 9px 11px;
}
.feedback-container a:nth-child(2){
	display: block;
	width: 85%;
	height: 45px;
	background: #df684a;
	margin-bottom: 10px;
	text-decoration: none;
	color: #000;
	font-size: 16px;
	padding-top: 15px;
}
.section8{
	min-width: 1300px;
	width: 100%;
	position: absolute;
	top: 5462px;
}
.section8 .wrapper-section{
	width: 1200px;
	padding-top: 20px;
}
.ymaps-map{
	width: 100% !important;
}
footer .wrapper-section{
	width: 1200px;
	padding-top: 20px;
	padding-bottom: 20px;
}
footer .wrapper-section p:first-child{
	float: left;
	color: #fff;
	font-size: 14px;
	font-family: 'Clinica_Pro_Regular';
}
footer .wrapper-section p:last-child{
	float: right;
	color: #fff;
	font-size: 14px;
	font-family: 'Clinica_Pro_Regular';
}
footer{
	background: #1f1a17;
	min-height: 55px;
	min-width: 1300px;
	width: 100%;
	position: absolute;
	top: 6134px;
}

#top-menu {
    position: fixed;
    z-index: 1;
    right: 40px;
    top: 40%;
}
#top-menu a {
    display: block;
    padding: 5px 25px 7px 0;
    width: 13em;
    -webkit-transition: .2s all ease-out;
    -moz-transition: .2s all ease-out;
    transition: .2s all ease-out;
    color: #aaa;
    text-decoration: none;
    text-align: right;
}

#top-menu a:hover {
    color: #000;
}

#top-menu li.active a {
    color: #333;
}
#top-menu li:before, #top-menu li:after{content:'';position:absolute;right:0;top:50%;-webkit-border-radius:50%;border-radius:50%}

.fadeinleft, .fadeinright{
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay:0.5s;
	-o-animation-delay:0.5s;
	-ms-animation-delay:0.5s;
}

.fadeinup, .fadeindown{
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay:0.5s;
	-o-animation-delay:0.5s;
	-ms-animation-delay:0.5s;
}

.left-gallery div:nth-child(2){
	border-top: 0;
	border-right: 0;
}
.left-gallery div:last-child{
	border-top: 0;
}
.center-gallery div:first-child{
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.center-gallery div:last-child{
	border-left: 0;
	border-right: 0;
}
.right-gallery div:nth-child(2){
	border-left: 0;
}
#top_menu {
  font-size: 12px;
  clear: both;
  line-height: 15px;
  background: #dd3b12;
  border-bottom: 1px solid #0e3f7c;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99999;
  font-family: 'Clinica_Pro_Regular';
}
.top_menu {
  width: 980px;
  margin: 0px auto;
  position: relative;
}
#top_menu .right {
  background: #fff;
  position: absolute;
  right: 0;
  color: #2b2c90;
  box-shadow: 0 0 5px #7e7e7e;
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=5,MakeShadow=true,ShadowOpacity=0.50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=2,MakeShadow=true,ShadowOpacity=0.50)";
  zoom: 1;
}
#top_menu .left li {
  margin: 5px 20px 5px 0px;
}
#top_menu li {
  display: inline-block;
  list-style: none;
}
#top_menu .left a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
}
#top_menu .left li.fl {
  color: #fff;
  position: absolute;
  right: 210px;
  top: 0;
}
#top_menu p{
	padding: 3px 5px 3px 5px;
}
.scroll_menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background: url(../images/orange_sharped_bg.jpg);
  border-bottom: 1px solid #d8b340;
  display: none;
  font-family: 'Clinica_Pro_Regular';
}
.scroll_menu .page_block {
  width: 1000px;
  margin: 0 auto;
  padding: 5px;
  clear: both;
}
.up {
  height: 37px;
  display: block;
  float: right;
  margin: 0px 10px;
  padding: 0px 30px 0px 0px;
  line-height: 37px;
  font-size: 17px;
  position: relative;
  text-decoration: none;
  color: #F1EDED!important;
  cursor: pointer;
}
.scroll_menu .phones {
  margin-bottom: 0px;
  margin-top: 4px;
  width: auto;
  color: #F1EDED;
}
.phones {
  margin: 7px 0 15px;
  width: 345px;
}
.phones > span.num {
  color: #2b2c90;
  float: left;
  font-size: 22px;
  letter-spacing: 0.4px;
  width: 190px;
  line-height: 22px;
  margin-top: 5px;
}
.scroll_menu .phones > span.num {
  float: left;
  margin-right: 20px;
  width: 195px;
  color: #F1EDED;
}
.scroll_menu .phones > a {
  color: #fff;
  line-height: 26px;
  font-size: 14px;
  margin-right: 18px;
}
.clr{
	clear: both;
}
.scroll_menu span.num i {
  margin-top: 0px;
}
span.num i {
  font-size: 10px;
  text-align: center;
  display: block;
  line-height: 12px;
  font-style: normal;
  margin-top: 4px;
}
.up:after {
  background: url(../images/arrow.png) no-repeat -36px 1px;
  content: "";
  display: block;
  height: 37px;
  right: -12px;
  position: absolute;
  top: 0px;
  width: 36px;
}
	.up:hover:after{
		background-position: 0px 1px;
	}
#top_menu .left a:hover{
	text-decoration: underline;
}
.button{
	cursor: pointer;
}
.button {
	font-size: 24px;
/* text */
	text-decoration: 		none;
	width: 245px;
	font-weight: 			bold;
	text-shadow: 			rgba(255,255,255,.5) 0 1px 0;
	-webkit-user-select: 	none;
	-moz-user-select: 		none;
	user-select: 			none;
	padding: 				.6em 1.1em .4em 1.1em;
	margin: 				.5em;
	display: 				inline-block;
	position: 				relative;
	-webkit-border-radius: 	8px;
	-moz-border-radius: 	8px;
	border-radius: 	8px;
	border-top: 		1px solid rgba(255,255,255,0.8);
	border-bottom: 		1px solid rgba(0,0,0,0.1);
	background-image: 	-webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) )), url(../images/noise.png);
	background-image: 	-moz-radial-gradient(top, ellipse cover, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%), url(../images/noise.png);
	background-image: 	gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) )), url(../images/noise.png);

	-webkit-transition: background .2s ease-in-out;
	-moz-transition: 	background .2s ease-in-out;
	transition: 		background .2s ease-in-out;
	
/* color */
	color: 				hsl(1, 100%, 1%) !important;
	background-color: 	#dd3b12;
	
	
	box-shadow: 		inset rgba(255,254,255,0.3) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ 
						hsl(12, 70%, 50%) 0 .1em 3px, hsl(12, 80%, 40%) 0 .3em 1px, /* color border */ 
						rgba(0,0,0,0.2) 0 .5em 5px;
}
.button:hover {
	background-color: hsl(12, 100%, 63%);
}



.button:active {
	background-image: 	-webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0) )), url(../images/noise.png);
	background-image: 	-moz-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0) )), url(../images/noise.png);
	background-image: 	gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0) )), url(../images/noise.png);

	-webkit-box-shadow: inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, /* inner shadow */ 
							rgba(0,0,0,0.4) 0 .1em 1px, /* border */
							rgba(0,0,0,0.2) 0 .2em 6px; /* drop shadow */
	-moz-box-shadow: 	inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, /* inner shadow */ 
							rgba(0,0,0,0.4) 0 .1em 1px, /* border */
							rgba(0,0,0,0.2) 0 .2em 6px; /* drop shadow */
	box-shadow: 		inset rgba(255,255,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.2) 0 -0.1em .3em, /* inner shadow */ 
							rgba(0,0,0,0.4) 0 .1em 1px, /* border */
							rgba(0,0,0,0.2) 0 .2em 6px; /* drop shadow */

	-webkit-transform: 	translateY(.2em);
	-moz-transform: 	translateY(.2em);
	transform: 			translateY(.2em);
}

.button:focus {
	outline: none;
	color: rgba(254,255,255,0.9) !important;
	text-shadow: rgba(0,0,0,0.2) 0 1px 2px;
}
.form-mask{
	position: fixed;
	  width: 100%;
	  height: 100%;
	  background: rgba(0,0,0,0.5);
	  top: 0;
	  left: 0;
	  bottom: 0;
	  z-index: 9999;
	  display: none;
}
.form{
	position: fixed;
	 z-index: 10000;
	 top: 10%;
	 left: 30%;
	 background-color: #484d53;
	 padding-bottom: 20px;
	 width: 645px;
	 text-align: center;
	 display: none;
}
	.form form{
		width: 480px;
		margin: auto;
		padding: 60px 0;
		font-family: 'Arial',sans-serif;
	}
		.form form input{
			width: 100%;
			margin: 15px 0;
			height: 75px;
			text-align: center;
			border-radius: 40px;
			outline: 0;
			border:0;
			font-size: 24px;
			color: #fff;
		}
			.form form input[type="text"]{
				background-color: transparent;
				border: 1px solid #fff;
				-webkit-transition: 0.3s all ease-in-out;
				-o-transition: 0.3s all ease-in-out;
				transition: 0.3s all ease-in-out;
			}
				.form form input[type="text"]:focus{
					border: 1px solid #2fad64;
				}
			.form form input[type="submit"]{
				background-color: #2fad64;
				cursor: pointer;
			}
	.form form input[type="text"]::-webkit-input-placeholder {
    color: #fff;
   } 
   .form form input[type="text"]::-moz-placeholder {
    color: #fff;
   }
   .form form h3{
   	font-size: 32px;
   	color: #fff;
   }
   .form form p{
   	color: #fff;
   	font-family: Arial,sans-serif;
   	margin-top: 10px;
   	line-height: 1.5;
   }
#section1 .button{
	margin-top: 40px;
}
#section5 .button{
	margin-top: 25px;
	width:263px;
}